.header {
  position: relative;
  width: 100vw;
}

.header img {
  z-index: 0;
  width: 100vw;

  object-fit: cover;
}

.header-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-description-title,.header-description-paragraph{
  z-index: 1;
  color: white;
  margin: 0;

  animation: slideDownFade 1s ease forwards;
  opacity: 0;
}

.header-description h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
}
.header-description p {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 18px;
}

.header-description button {
  cursor: pointer;
  background-color: #2c1810;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 25px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 12px 30px;
  transition: .4s ease-in-out;

  animation: slideUpFade 1s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}
.header-description button:hover {
  background-color: #d4a574;
  scale: 1.1;

}

.home-section-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-section-title h2 {
  font-size: 36px;
  margin: 0;
  color: #2c1810;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.home-section-title p {
  font-size: 22px;
  color: #4b5563;
  margin: 0;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 5rem;

  animation: scaleUp linear both;
  animation-timeline: scroll(root block);
  animation-range: 0px 200px;
}

.story-container p {
  color: #4b5563;
  margin: 0;
}

.story-container h3 {
  margin: 0;
  color: #2c1810;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
}

.story-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

 
}

.story-section section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-section section img {
  background-color: #f5f1eb;
  padding: 20px;
  border-radius: 16px;
  width: 35px;
}

.story-section section p {
  font-size: 20px;
  text-align: center;
}

.specialties-container {
  background-color: #f5f1eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 3rem 5rem;
}

.specialties{
  animation: scaleUp linear both;
  animation-timeline: scroll(root block);
  animation-range: 0px 750px;

}
.specialties-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.specialties-section section {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: 350px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timeline: scroll(root block);
  animation-range: 0px 900px;
}
.specialties-section section:hover {
  scale: 1.1;
}

.specialties-section section:nth-child(1) {
  animation-delay: 0s;
}
.specialties-section section:nth-child(2) {
  animation-delay: 1s;
}
.specialties-section section:nth-child(3) {
  animation-delay: 2s;
}
.specialties-section section:nth-child(4) {
  animation-delay: 3s;
}
.specialties-section section img {
  width: 180px;
}

.specialties-section section h3 {
  margin: 0;
  color: #2c1810;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 22px;
}
.specialties-section section p {
  color: #4b5563;
  margin: 0;
  font-size: 18px;
  margin: 10px 15px;
  text-align: center;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 5rem;

  animation: scaleUp linear both;
  animation-timeline: scroll(root block);
  animation-range: 0px 1300px;
}
.reviews-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.reviews-section section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f1eb;
  border-radius: 10px;
  padding: 2rem;
  width: 210px;
}

.review-puntuation {
  display: flex;
}
.review-puntuation img {
  width: 16px;
}

.reviews-section section p {
  color: #374151;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.costumer-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.costumer-details img {
  width: 50px;
  border-radius: 999px;
}

.costumer-details div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.costumer-details div h5 {
  font-size: 16px;
  margin: 0;
}

.costumer-details div p {
  font-size: 14px;
  margin: 0;
}

.contact-container {
  background-color: #d4a574;
  display: flex;
}

.contact-section-title {
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact-section-title h2 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  font-weight: 700;
  margin: 0;
}

.contact-section-title p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 0;
  margin-bottom: 1rem;
}

.contact-section-title span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.maps-section {
  width: 60%;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
   scale: .7;
  }
  100% {
    scale: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}