body {
  margin: 0;
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 1rem;
}

.container-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: scaleUp linear;
  animation-timeline: view();
  animation-range: entry;
}

.container-title h2 {
  font-size: 36px;
  margin: 0;
  color: #2c1810;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
}

.container-title p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: #4b5563;
  text-align: center;
  margin: 0;
}

.container-title span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #656b74;
  margin: 0;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.contact-header {
  background-color: #f5f1eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 100px 300px;
}

.contact-header h1 {
  color: #2c1810;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 38px;
  margin: 0;
  text-align: center;

  animation: slideDownFade 1s ease forwards;
  opacity: 0;
}

.contact-header h1 span {
  color: #d4a574;
}

.contact-header p {
  color: #374151;

  font-family: "Inter", sans-serif;
  font-size: 22px;
  margin: 0;
  text-align: center;

  animation: slideUpFade 1s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

.visit {
  background-color: #f5f1eb;
  flex-direction: row;
  padding: 2rem;
}

.location-map {
  width: -webkit-fill-available;
  height: 300px;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftFade {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideRightFade {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

@keyframes enhance-header {
  to {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    color: white;
  }
}

@media (max-width: 900px) {
  .container {
    gap: 2rem;
  }

  .contact-header {
    padding: 80px 40px;
  }
  .container-title h2 {
    font-size: 32px;
  }

  .container-title p {
    font-size: 18px;
  }
  .visit {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .container-title {
    gap: 0.5rem;
  }

  .container-title h2 {
    font-size: 28px;
  }

  .container-title p {
    font-size: 16px;
  }

  .contact-header h1 {
    font-size: 30px;
  }
  .contact-header p {
    font-size: 20px;
  }
}
