body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 5rem;

 
}

.container-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-title h2 {
  font-size: 36px;
  margin: 0;
  color: #2c1810;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.container-title p {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  color: #4b5563;
  margin: 0;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftFade {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideRightFade {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

